/*Start of CSS of index.php*/
html {
font-size:62.5%;
}

body {
margin:0;
padding:0;
display: -webkit-flex;
display:flex;
-webkit-flex-direction:column;
flex-direction:column;
min-height:100vh;
}

* {
box-sizing:border-box;
}

.header {
display: -webkit-flex;
display:flex;
flex-wrap:wrap;
justify-content:space-around;
background-color:#7f8c8d;
padding:2rem 0;
margin:0;
text-align:center;
}

.header h1 {
font-size:5rem;
margin:0;
}


.logo {
    border-radius:50%;
    border:2px solid black;
    text-align:center;
    margin:0;
    padding:1.5rem 0;
  }
  
  .logo a {
    text-decoration:none;
    font-size:2rem;
    padding:2rem 1rem;
    color:black;
    font-weight:bold;
  }
  
  .logo:hover a {
    color:white;
  }
  
  .logo:hover {
    border-color:white;
    box-shadow: 0 8px 16px 0;
  }

.head {
  background:black;
  height:2.5rem;
  width:2.5rem;
  border-radius:50%;
  margin:auto;
}

.body {
  background:black;
  height:2.5rem;
  width:5rem;
  border-radius:3rem 3rem 0 0;
  margin:auto;
}

.login {
position:relative;
display:inline-block;
}

.userstatus {
position:absolute;
display:none;
background-color:#f1f1f1;
z-index:1;
min-width:160px;
right:0;
box-shadow: 0 8px 16px 0;
}

.login:hover .userstatus {
display:block;
}

.login .userstatus a {
display:block;
text-decoration:none;
color:black;
font-size:2.5rem;
font-weight:bold;
text-align:center;
padding:0.8rem 1.6rem;
}

.userstatus a:hover {
  background-color:#d1d1d1;
}

.navbar {
background-color:#555;
margin:0;
padding:0;
display: -webkit-flex;
display:flex;
flex-wrap:wrap;
}

.navbar a {
display:block;
text-decoration:none;
font-size:2.5rem;
color:white;
font-weight:bold;
text-align:center;
padding:0.8rem 1.6rem;
margin:0;
}

.navbar  a:hover {
background-color:#333;
}


.active {
background-color:#111;
}


.dropdown {
position:relative;
}

.dropdown:hover .dropdown-content {
display:block;
}

.dropdown:hover .dropbtn {
background-color:#333;
}

.dropdown-content {
display:none;
position:absolute;
background-color:#555;
box-shadow:0px 0px 3px 2px rgba(0,0,0,0.20), 0px 0px 1px 1px rgba(0,0,0,0.10);
z-index:1;
}

.main {
margin:0;
padding:3rem;
text-align:center;
-webkit-flex:1;
-ms-flex:1;
flex:1;
line-height:1.5;
}

.main .part1 {
margin:0;
padding:3rem;
text-align:center;
line-height:1.5;
}

h2 {
margin:0;
padding:2rem;
font-size:3rem;
}

p {
margin:0;
padding:1rem;
font-size:2rem;
}

img {
max-width:100%;
}

.main .part2 {
margin:0;
padding:3rem;
text-align:center;
line-height:1.5;
}

.main .part3, .main .part4, .part5, .part6, .part7, .part82  {
margin:0;
padding:3rem;
text-align:center;
line-height:1.5;
display:-webkit-flex;
display:flex;
flex-wrap:wrap;
}

.part3 div {
-webkit-flex:1;
-ms-flex:1;
flex:1;
}

.main a {
display:inline-block;
padding:1rem 2rem;
font-size:2rem;
text-decoration:none;
text-align:center;
background-color:#00b894;
color:white;
border-radius:20px;
}

.main a:hover {
background-color:#55efc4;
}

.part4 div {
-webkit-flex:1;
-ms-flex:1;
flex:1;
}

.part5 div {
-webkit-flex:1;
-ms-flex:1;
flex:1;
}

.part6 div {
-webkit-flex:1;
-ms-flex:1;
flex:1;
}

.part7 div {
-webkit-flex:1;
-ms-flex:1;
flex:1;
}

.main .part8 {
margin:0;
padding:3rem;
text-align:center;
line-height:1.5;
}

.part82 div {
-webkit-flex:30%;
-ms-flex:30%;
flex:30%;
}


.part9 {
display:flex;
flex-wrap:wrap;
flex-direction:column;
}


.part91 {
background:#f1f1f1;
}

.part92 {
background:darkgrey;
-webkit-flex:1;
-ms-flex:1;
flex:1;
overflow-x:auto;
overflow-y:scroll;
}

.chat {
margin:1rem 0;
padding:1rem;
}

.chatmsg {
display:inline-block;
background:#55efc4;
border-radius:1rem;
padding:1rem;
font-size:2rem;
width:30%;
}

.chat::after {
  content:"";
  clear:both;
  display:table;
}

.part93 {
background:#d1d1d1;
}

.part93 form {
padding:0.5rem;
margin:0.3rem;
}

#send {
margin:1rem;
}

.footer div {
display:-webkit-flex;
display:flex;
flex-wrap:wrap;
justify-content:center;
background-color:#555;
overflow:hidden;
}

.footer a {
display:block;
text-decoration:none;
font-size:2rem;
color:white;
font-weight:bold;
text-align:center;
padding:0.8rem 1.6rem;
margin:0;
overflow:hidden;
}

.footer a:hover {
background-color:#f1f1f1;
color:black;
}

/*Media queries or breakpoints*/
@media only screen and (max-width:600px) {
.navbar {
  -webkit-flex-direction:column;
        flex-direction:column;
}

.dropdown-content {
        width:100%;
}

.main .part3, .main .part4, .main .part5, .main .part6, .main .part7, .main .part82 {
  -webkit-flex-direction:column;
        flex-direction:column;
}
}
/*End of CSS of index.php*/

/*Start of CSS of form*/
.main form {
    margin:0;
    padding:3rem;
}

form label, legend {
    margin:0;
    padding:1rem;
    font-size:2rem;
}

form input, select {
    font-size:1.5rem;
    padding:1rem;
    margin:0;
    margin-left:10px;
}
/*End of CSS of form*/

/*Start of CSS of tables*/
table {
    width:50%;
    border:0.1rem solid black;
    border-collapse:collapse;
    font-size:2rem;
    margin:auto;
}

table tr {
    height:3rem;
}

table tr:nth-child(even) {
    background-color:#f1f1f1;
}

table td {
    padding:0.5rem;
    text-align:center;
}
/*End of CSS of tables*/

/*Start of CSS of 404 error page*/

.image {
  position:relative;
  border:1rem solid black;
  border-radius:50%;
  width:20rem;
  height:20rem;
  margin:4rem auto;
}

.eye1 {
  position:absolute;
  border:1rem solid black;
  border-radius:50%;
  background:black;
  width:2rem;
  height:2rem;
  top:3rem;
  left:4rem;
}

.eye2 {
  position:absolute;
  border:1rem solid black;
  border-radius:50%;
  background:black;
  width:2rem;
  height:2rem;
  top:3rem;
  right:4rem;
}

.smile {
  position:absolute;
  border-top:solid 1rem;
  border-radius:50%;
  width:12rem;
  height:8rem;
  bottom:2rem;
  left:3rem;
}

.msg h1 {
  font-size:6rem;
  margin:0;
}

.msg h3 {
  font-size:3rem;
  margin:1rem;
}

/* End of CSS of 404 error page*/

/* Start of CSS of admin panel page*/

.class1, .class2, .class3, .class4, .class5, .class6, .class7, .class8, .class9, .class10, .class11 {
  display:none;
}

#adminbody {
  padding:0;
  margin:0;
  display:flex;
  flex-wrap:wrap;
  align-items:stretch;
}


.main .navbar1 {
  background-color:#333;
  margin:0;
  padding:0;
  display: -webkit-flex;
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  }
  
.main  .navbar1 a {
  display:block;
  background:#333;
  text-decoration:none;
  font-size:2.5rem;
  color:white;
  font-weight:bold;
  text-align:center;
  padding:0.8rem 1.6rem;
  margin:0;
  border-radius:0;
  }
  
 .main .navbar1  a:hover {
  background-color:#111;
  }
  

.adminpanel {
  flex:0.75;
  text-align:center;
}

/* End of CSS of admin panel page*/

/* Start of CSS of sitemap page*/

.part101 {
display:flex;
flex-wrap:wrap;
flex-direction:row;
justify-content:space-around;
}

.main .part10 .part101 ul a {
  font-size:1.5rem;
  padding:0;
  text-decoration:underline;
  background:transparent;
  color:blue;
}


.part10 h2 {
  text-align:center;
}

.part10 {
  text-align:left;
  font-size:1.5rem;
}

/* End of CSS of sitemap page*/
