/*Start of CSS of index.php*/
* {
  box-sizing:border-box;
}

body {
  margin:0;
  padding:0;
  display: -webkit-flex;
  display:flex;
  -webkit-flex-direction:column;
  flex-direction:column;
  min-height:100vh;
}

.header {
  display: -webkit-flex;
  display:flex;
  flex-wrap:nowrap;
  justify-content:space-around;
  background-color:#7f8c8d;
  padding:1rem;
  margin:0;
  text-align:center;
  z-index:5;
}

.hamburgermenu {
  display:none;
  padding:0.5rem 0;
}

.hamburgermenu div {
  border:2px solid black;
  margin:2px 0;
  width:2rem;
}

.header h1 {
  font-size:clamp(1.3rem, 1.7rem, 2.5rem);
  margin:0;
}

.logo {
  border-radius:50%;
  border:2px solid black;
  text-align:center;
  margin:0;
  padding:0.5rem 0;
}
  
.logo a {
  text-decoration:none;
  font-size:1rem;
  padding:1rem;
  color:black;
  font-weight:bold;
}

.logo:hover a {
  color:white;
}

.logo:hover {
  border-color:white;
  box-shadow: 0 8px 8px 0;
}

.head {
  background:black;
  height:1rem;
  width:1rem;
  border-radius:50%;
  margin:auto;
}

.body {
  background:black;
  height:1rem;
  width:2rem;
  border-radius:1rem 1rem 0 0;
  margin:auto;
}

.login {
  position:relative;
  display:inline-block;
}

.userstatus {
  position:absolute;
  display:none;
  background-color:#f1f1f1;
  z-index:1;
  min-width:160px;
  right:0;
  box-shadow: 0 8px 16px 0;
}

.login:hover .userstatus {
  display:block;
}

.login .userstatus a {
  display:block;
  text-decoration:none;
  color:black;
  font-size:1rem;
  font-weight:bold;
  text-align:center;
  padding:0.8rem;
}

.userstatus a:hover {
  background-color:#d1d1d1;
}

#closex {
  display:none;
}

.navbar {
  background-color:#555;
  margin:0;
  padding:0;
}

.navbar a {
  display:block;
  text-decoration:none;
  font-size:1rem;
  color:white;
  font-weight:bold;
  text-align:center;
  padding:0.5rem 1rem;
  margin:0;
}

.navbar a:hover {
  background-color:#333;
}

.active {
  background-color:#111;
}

.dropdown {
  position:relative;
}

.dropdown:hover .dropdown-content {
  display:block;
}

.navbar .dropbtn {
  position:relative;
  padding:0.5rem 2rem;
}

.dropbtn::after {
  content:'';
  position:absolute;
  top:40%;
  left:70%;
  border-style:solid;
  margin-left:0.5rem;
  border-width:5px;
  border-color:white transparent transparent transparent;
}

.dropdown:hover .dropbtn {
  background-color:#333;
}

.dropdown-content {
  display:none;
  position:absolute;
  top:100%;
  background-color:#555;
  box-shadow:0px 0px 3px 2px rgba(0,0,0,0.20), 0px 0px 1px 1px rgba(0,0,0,0.10);
  z-index:1;
}

.main {
  margin:0;
  padding:1rem;
  text-align:center;
  -webkit-flex:1;
  -ms-flex:1;
  flex:1;
  line-height:1.5;
}

.main .part1 {
  margin:0;
  padding:1rem;
  text-align:center;
  line-height:1.5;
}

h2 {
  margin:0;
  padding:1rem;
  font-size:1.5rem;
}

p {
  margin:0;
  padding:1rem;
  font-size:1rem;
}

img {
  max-width:100%;
}

.main .part2 {
  margin:0;
  padding:1rem;
  text-align:center;
  line-height:1.5;
}

.main :is(.part3, .part4, .part5, .part6, .part7, .part82, .part112)  {
  margin:0;
  padding:1rem;
  text-align:center;
  line-height:1.5;
  display:-webkit-flex;
  display:flex;
  flex-wrap:wrap;
}

.part3 div {
  -webkit-flex:1;
  -ms-flex:1;
  flex:1;
}

.part32 img {
  height:100%;
}

.main a {
  display:inline-block;
  padding:0.5rem 1rem;
  font-size:1rem;
  text-decoration:none;
  text-align:center;
  background-color:#555;
  color:white;
  border-radius:1rem;
}

.main a:hover {
  background-color:#111;
}

.part4 div, .part5 div, .part6 div, .part7 div {
  -webkit-flex:1;
  -ms-flex:1;
  flex:1;
}

.main :is(.part8, .part11) {
  margin:0;
  padding:1rem;
  text-align:center;
  line-height:1.5;
}

.part82 div, .part112 div {
  -webkit-flex:30%;
  -ms-flex:30%;
  flex:30%;
}

.part9 {
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
}

.part91 {
  background:#f1f1f1;
}

.part92 {
  background:darkgrey;
  -webkit-flex:1;
  -ms-flex:1;
  flex:1;
  overflow-x:auto;
  overflow-y:scroll;
}

.chat {
  margin:1rem 0;
  padding:1rem;
}

.chatmsg {
  display:inline-block;
  background:#55efc4;
  border-radius:1rem;
  padding:0.5rem;
  font-size:0.8rem;
  width:20rem;
}

.chat::after {
  content:"";
  clear:both;
  display:table;
}

.part93 {
  background:#d1d1d1;
}

.part93 form {
  padding:0.5rem;
  margin:0.3rem;
}

#chatmsg {
  width:clamp(250px, 50%, 500px);
}

#send {
  margin:1rem;
}

.footer div {
  display:-webkit-flex;
  display:flex;
  flex-wrap:wrap;
  position:relative;
  justify-content:center;
  background-color:#555;
  overflow:hidden;
  z-index:3;
}

.footer a {
  display:block;
  text-decoration:none;
  font-size:1rem;
  color:white;
  font-weight:bold;
  text-align:center;
  padding:0.5rem;
  margin:0;
  overflow:hidden;
}

.footer a:hover {
  background-color:#f1f1f1;
  color:black;
}

/*Media queries or breakpoints*/
@media only screen and (min-width:601px) {
  .navbar {
    display: -webkit-flex;
    display:flex;
    flex-wrap:wrap;
    -webkit-flex-direction:row;
    flex-direction:row;
    width:100%;
  }
}

@media only screen and (max-width:600px) {
  .heading {
    display:none;
  }

  .hamburgermenu {
    display:block;
  }

  #closex {
    display:block;
    text-align:right;
    font-size:2rem;
  }

  #closex span:hover {
    color:red;
    background:black;
  }

  .navbar {
    position:fixed;
    z-index:4;
    overflow-x:hidden;
    text-align:center;
    height:100%;
    width:0;
    padding-top:4.5rem;
  }

  .navbar:target {
    width:calc(100vw - 2rem);
  }

  .navbar:not(:target) {
    width:0;
  }

  .navbar, .footer div {
    -webkit-flex-direction:column;
    flex-direction:column;
  }

  .dropdown-content {
    width:100%;
    box-shadow:none;
  }

  .dropbtn::after {
    left:60%;
  }
  
  .dropdown:hover .dropbtn {
    margin-bottom:330px;
  }

  .main :is(.part3, .part4, .part5, .part6, .part7, .part82, .part112, .row) {
    -webkit-flex-direction:column;
    flex-direction:column;
  }
  
  .row .col25 {
    flex: 0 0 100%;
  }
  
  .row .col75 {
    flex: 0 0 100%;
  }
}

@media screen and (max-width:900px) {
  .header {
    justify-content:space-between;
  }
}
/*End of CSS of index.php*/

/*Start of CSS of form*/

.main form {
  margin:0 auto;
  padding:1rem;
  border: 2px solid #d3d3d3;
  width:clamp(300px, 70%, 800px);
  background-color:#f2f2f2;
}

form:is(label, legend) {
  margin:0;
  padding:1rem;
  font-size:1rem;
}

form input[type]:not([type="radio"]):not([type="submit"]):not([type="reset"]), select {
  font-size:0.9rem;
  padding:0.5rem;
  margin:0;
  width:100%;
}

form input[type="submit"][type="reset"] {
  font-size:1rem;
  padding:1rem;
  margin:1rem;
}

.row {
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  width:100%;
  margin:1rem 0;
  padding:0.5rem;
}

.row .col25 {
  flex: 0 0 25%;
  margin:0;
  padding:0.5rem 0;
}

.row .col75 {
  flex: 0 0 75%;
  margin:0;
}

/*End of CSS of form*/

/*Start of CSS of tables*/
table {
  width:50%;
  border:0.1rem solid black;
  border-collapse:collapse;
  font-size:1rem;
  margin:auto;
}

table tr {
  height:2rem;
}

table tr:nth-child(even) {
  background-color:#f1f1f1;
}

table td {
  padding:0.5rem;
  text-align:center;
}
/*End of CSS of tables*/

/*Start of CSS of 404 error page*/

.image {
  position:relative;
  border:0.5rem solid black;
  border-radius:50%;
  width:10rem;
  height:10rem;
  margin:1rem auto;
}

.eye1, .eye2 {
  position:absolute;
  border:0.1rem solid black;
  border-radius:50%;
  background:black;
  width:1rem;
  height:1rem;
  top:1rem;
}

.eye1 {
  left:2rem;
}

.eye2 {
  right:2rem;
}

.smile {
  position:absolute;
  border-top:solid 0.7rem;
  border-radius:50%;
  width:4rem;
  height:3rem;
  bottom:2rem;
  left:2.5rem;
}

.msg h1 {
  font-size:2rem;
  margin:0;
}

.msg h3 {
  font-size:1.3rem;
  margin:1rem;
}

/* End of CSS of 404 error page*/

/* Start of CSS of admin panel page*/

.hide {
  display:none;
}

#adminbody {
  padding:0;
  margin:0;
  display:flex;
  flex-wrap:wrap;
  align-items:stretch;
}

.main .navbar1 {
  background-color:#333;
  margin:0;
  padding:0;
  display: -webkit-flex;
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
}
  
.main  .navbar1 a {
  display:block;
  background:#333;
  text-decoration:none;
  font-size:1rem;
  color:white;
  font-weight:bold;
  text-align:center;
  padding:0.8rem;
  margin:0;
  border-radius:0;
}
  
.main .navbar1  a:hover {
  background-color:#111;
}

.adminpanel {
  flex:0.75;
  text-align:center;
}

/* End of CSS of admin panel page*/

/* Start of CSS of user dashboard page*/

.class20, .class21, .class22 {
  display:none;
}

#userdashboard {
  padding:0;
  margin:0;
  display:flex;
  flex-wrap:wrap;
  align-items:stretch;
}

.main .navbar2 {
  background-color:#333;
  margin:0;
  padding:0;
  display: -webkit-flex;
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
}
  
.main .navbar2 a {
  display:block;
  background:#333;
  text-decoration:none;
  font-size:1rem;
  color:white;
  font-weight:bold;
  text-align:center;
  padding:0.8rem;
  margin:0;
  border-radius:0;
}
  
.main .navbar2 a:hover {
  background-color:#111;
}
  
.userpanel {
  flex:0.75;
  text-align:center;
}

/* End of CSS of user dashboard page*/

/* Start of CSS of sitemap page*/

.part101 {
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:space-around;
}

.main .part10 .part101 ul a {
  font-size:0.8rem;
  padding:0;
  text-decoration:underline;
  background:transparent;
  color:blue;
}

.part10 h2 {
  text-align:center;
}

.part10 {
  text-align:left;
  font-size:1rem;
}

/* End of CSS of sitemap page*/

/* Start of CSS of contact us page */

#message {
  width:100%;
  height:clamp(100px, 20vh, 300px);
  resize:vertical;
}

/* End of CSS of contact us page */
